/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
	width:100%;
}



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-image:url('../images/bg-2.jpg');
	min-width:980px;
}

img {
	max-width:100%;
}

.Header {
	width:100%;
	min-width:980px;
	height:114px;
	background-color:white;
	float:left;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	border-bottom:black 3px solid;
	border-top:black solid 3px;
}

ul#Navigation {
	margin-left:auto;
	margin-right:auto;
	margin-top:12px;
	display:table;
	width:90%;
	min-width:940px;
	max-width:980px;
	height:80px; 
	list-style: none; 
	font-size: 19px;
	font-family: Arial, sans-serif;
	font-weight:bold;
}

.top-nav-left {
	width:16%;
	float:right;
	text-align:center;
}
	
.top-nav-logo {
	float:left;
	text-align:left; 
	width:32%; 
}

	.top-nav-logo:hover img {
		cursor:pointer;
	}
	
.top-nav-right {
	width:16%;
	float:right;
	text-align:center;
}

ul#Navigation li a {
	padding: 10px 15px;
	margin:20px 0px;
	display: block;
	text-decoration: none;
	border-right:2px solid black;
}

ul#Navigation li a:hover {
	border-right:2px inset #bd5e1b;
	border-radius:10px;
	box-shadow:2px 2px #bd5e1b;
}

a:link {
	text-decoration:none;
	color:black;
}

a:visited {
	color:black;
}

.Header a:hover {
	color:#bd5e1b;
}

a:active {
	color:black;
}

.top-section {
	width:100%;
	min-width:980px;
	max-width:1600px;
	position:relative;
	display:table;
	background:linear-gradient(
      rgba(255, 102, 0, 0.25), 
      rgba(255, 102, 0, 0.25)
    ),url('../images/blurred.png');
	margin-right:auto;
	margin-left:auto;
	height:425px;
	background-size:cover;
	margin-top:136px;
	border-bottom:3px solid black;
}

.top-section-container {
	width:95%;
	margin:auto;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}

.button {
	display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    padding: 0 24px;
    font: Lucida Grande, Verdana, sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px #154c86;
    background-clip: padding-box;
    border: 1px solid;
    border-color: white;
    border-radius: 4px;
}

.button-red {
  text-shadow: 0 1px gray;
}

.button-red:hover {
  background-color: #bd5e1b;
}

.button-red:active {
  text-shadow: 0 -1px #72100d;
  background: #bd5e1b;
  border-color: #5b0d0b #72100d #9f1713;
  background-image: -webkit-linear-gradient(top, #921511, #e4201b);
  background-image: -moz-linear-gradient(top, #921511, #e4201b);
  background-image: -o-linear-gradient(top, #921511, #e4201b);
  background-image: linear-gradient(to bottom, #921511, #e4201b);
}

.page-container {
	width:100%;
	max-width:960px;
	margin:auto;
}

ul#box-list {
	list-style:none; 
	margin:0; 
	width:100%; 
	clear:both; 
	padding:50px 0 0 0;
}

li.box-list {
	float:left; 
	width:30%; 
	border-radius:20px; 
	background-image:url('../images/building.png');
	background-size:cover; 
	height:300px;
    opacity: 0.9; 
} 

li.box-list:hover { 
  opacity: 1;
  box-shadow:2px 2px black;
}

p.box-list-title {
	text-align:center; 
	margin-top:25%; 
	width:80%; 
	margin-right:auto; 
	margin-left:auto; 
	background-color:rgba(0,0,0,.7); 
	color:white; 
	font-size:2em;
}

.footer {
	width:100%;
	height:177px;
	clear:both;
	margin-top:50px;
	background-image:url('../images/blueprint-2.jpg');
	background-size:100%;
	border-top:3px solid #A8A8A8;
	border-bottom:3px solid #A8A8A8;
	color:#E0E0E0;
}

.inner-footer {
	width:100%;
	height:177px;
	background-color: rgba(0,0,0,.7);
	background-size:100%;
}

.footer a:link {
		text-decoration:none;
		color:white;
	}

	.footer a:visited {
		color:white;
	}

.footer a:hover {
	color:#bd5e1b;
	text-decoration:underline;
}

.copyright {
	clear:both;
	padding-top:25px;
	width:100%;
	display:block;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */




/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    } 
	
}